<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Zeus</title>
</head>
<body>

<section>
    <h1>String</h1>
    <p>Name: <span th:text="${name}">Adam</span></p>
</section>

<section>
    <h1>Obj</h1>
    <p>Name: <span th:text="${person.name}">...Name...</span></p>
    <p>Surname: <span th:text="${person.surname}">...Surname...</span></p>
    <p>Age: <span th:text="${person.age}">...Age...</span></p>
    <hr/>
</section>

<section>
    <h1>List</h1>
    <div th:each="person: ${persons}">
        <p> Name: <span th:text="${person.getName()}"> Mogę coś wpisać, ale zostanie zastąpione przez zmienną</span></p>
        <p> Surname: <span th:text="${person.getSurname()}"></span></p>
        <p> Age: <span th:text="${person.age}">Niejawne wywołanie metody getAge(), a nie odwołanie do pola, bo przecież jest prywatne.</span></p>
        <hr/>
    </div>
</section>

</body>
</html>

